<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imgName</key>
		<dict>
			<key>1</key>
			<string>apply.png</string>
			<key>0</key>
			<string>apply_grey.png</string>
		</dict>
		<key>titleName</key>
		<string>申请</string>
	</dict>
	<dict>
		<key>imgName</key>
		<dict>
			<key>1</key>
			<string>work_financial.png</string>
			<key>0</key>
			<string>financial_grey</string>
		</dict>
		<key>titleName</key>
		<string>财务</string>
	</dict>
	<dict>
		<key>imgName</key>
		<dict>
			<key>1</key>
			<string>work_attendance.png</string>
			<key>0</key>
			<string>attendance_grey.png</string>
		</dict>
		<key>titleName</key>
		<string>考勤</string>
	</dict>
	<dict>
		<key>imgName</key>
		<dict>
			<key>1</key>
			<string>approval.png</string>
			<key>0</key>
			<string>approval_grey.png</string>
		</dict>
		<key>titleName</key>
		<string>审批</string>
	</dict>
	<dict>
		<key>imgName</key>
		<dict>
			<key>1</key>
			<string>notice.png</string>
			<key>0</key>
			<string>notice_grey.png</string>
		</dict>
		<key>titleName</key>
		<string>公告</string>
	</dict>
	<dict>
		<key>imgName</key>
		<dict>
			<key>1</key>
			<string>rsgl.png</string>
			<key>0</key>
			<string>hrd_grey.png</string>
		</dict>
		<key>titleName</key>
		<string>人事管理</string>
	</dict>
	<dict>
		<key>imgName</key>
		<dict>
			<key>1</key>
			<string>work_customer.png</string>
			<key>0</key>
			<string>customer_grey.png</string>
		</dict>
		<key>titleName</key>
		<string>客户关系</string>
	</dict>
	<dict>
		<key>imgName</key>
		<dict>
			<key>1</key>
			<string>work_email.png</string>
			<key>0</key>
			<string>email_grey.png</string>
		</dict>
		<key>titleName</key>
		<string>邮箱</string>
	</dict>
	<dict>
		<key>imgName</key>
		<dict>
			<key>1</key>
			<string>work_memorandum.png</string>
			<key>0</key>
			<string>memorandum_grey.png</string>
		</dict>
		<key>titleName</key>
		<string>备忘录</string>
	</dict>
	<dict>
		<key>imgName</key>
		<dict>
			<key>1</key>
			<string>work_file.png</string>
			<key>0</key>
			<string>file_grey.png</string>
		</dict>
		<key>titleName</key>
		<string>企业文档</string>
	</dict>
	<dict>
		<key>imgName</key>
		<dict>
			<key>1</key>
			<string>zhgl.png</string>
			<key>0</key>
			<string>administration_grey.png</string>
		</dict>
		<key>titleName</key>
		<string>综合管理</string>
	</dict>
	<dict>
		<key>imgName</key>
		<dict>
			<key>1</key>
			<string>delegate.png</string>
			<key>0</key>
			<string>delegate_grey.png</string>
		</dict>
		<key>titleName</key>
		<string>委派</string>
	</dict>
	<dict>
		<key>imgName</key>
		<dict>
			<key>1</key>
			<string>credentials.png</string>
			<key>0</key>
			<string>credentials_grey.png</string>
		</dict>
		<key>titleName</key>
		<string>申请凭证</string>
	</dict>
	<dict>
		<key>imgName</key>
		<dict>
			<key>1</key>
			<string>work_more.png</string>
			<key>0</key>
			<string>work_more.png</string>
		</dict>
		<key>titleName</key>
		<string>更多</string>
	</dict>
</array>
</plist>
